@import "~normalize.css";

@import "_variables";

body {
  background: $wtf;
  color: #fff;
  display: block;
  box-sizing: border-box;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 30px;
}

.hello {
  display: flex;
  justify-content: center;
  align-items: center;
  &__logo {
    box-sizing: border-box;
  }
}


